@import "mixins";
@import "modals";

body {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.25;
  font-weight: 300;
}

.breadcrumbs {
  &_item {
    position: relative;
    &:first-of-type {
      background: url("../../images/home.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0px -1.5px;
    }
    &:last-of-type {
      &:after {
        content: none;
      }
    }
    &:after {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      top: 51%;
      right: -1rem;
      background: url("../../images/breadcrumbs-arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transform: translateY(-50%) translateX(-100%);
      -ms-transform: translateY(-50%) translateX(-100%);
      transform: translateY(-50%) translateX(-100%);
    }
  }
}

.theme-pagination {
  .page-numbers {
    min-width: 35px;
    min-height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid;
    border-color: rgba(28, 33, 38, 1);
    border-radius: 0.25rem;
    &:hover {
      background-color: rgba(28, 33, 38, 1);
      color: #ffffff;
    }
    &.current {
      background-color: rgba(28, 33, 38, 1);
      color: #ffffff;
    }
    &.prev {
      &:before {
        content: "⬅";
      }
    }
    &.next {
      &:before {
        content: "⮕";
      }
    }
  }
}

.toptop {
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}
